ADMIN_EMAIL=admin@example.com
SENDER_EMAIL=noreply@example.com
SENDER_NAME="Example.com mailer"
NOT_FOUND_IMAGE=/images/not_found_dummy.jpg

S3_ENABLED=false
S3_REGION=ap-southeast-1
S3_BUCKET=vlcstore
S3_KEY=your-s3-access-key
S3_SECRET=your-s3-secret-key
S3_PREFIX=
S3_BASE_URL=https://vlcstore.s3.ap-southeast-1.amazonaws.com
S3_ACL=public-read
