.form-group.required .control-label::after,
.mb-3.required .form-label::after {
  content: ' *';
  color: red;
}
form div.has-error .help-block {
  font-size: 90% !important;
  color: #b76ba3 !important;
}
form .form-group {
  margin-bottom: 15px;
}
.btn-sm i.ri {
  font-size: 15px;
}

.has-select2 {
  min-width: 150px;
}

.has-select2 + .select2 {
  min-width: 150px;
}
